.chat-container
    background-color: #ababab
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    overflow: auto
    position: relative

    h4
        padding: 20px
        background-color: #d7d7d7

    .form-container
        width: 100%
        padding: 16px

    form
        flex-direction: row
        height: 48px
        max-width: none

        input
            width: 100%
            font-size: 16px

        button,input
            margin: 0

.chat
    display: flex
    flex-direction: column
    list-style: none
    color: white
    align-items: flex-start
    padding: 20px
    overflow-y: scroll
    height: 100%
    
    &::-webkit-scrollbar
        display: none

    &-box
        padding: 8px
        background-color: #212121
        margin-bottom: 8px
        max-width: 600px

.you-chat
    align-self: flex-end
    background-color: rgb(9, 170, 206)
