.chat-screen
    display: flex
    height: calc(100% - 80px)

    .chats
        width: 300px

        ul
            li
                display: flex
                a
                    padding: 20px
                    border-bottom: 1px solid #aaa
                    width: 100%
